@font-face 
  font-family: 'icomoon'
  src:url('fonts/icomoon.eot?-wtfjwb')
  src:url('fonts/icomoon.eot?#iefix-wtfjwb') format('embedded-opentype'),
    url('fonts/icomoon.woff?-wtfjwb') format('woff'),
    url('fonts/icomoon.ttf?-wtfjwb') format('truetype'),
    url('fonts/icomoon.svg?-wtfjwb#icomoon') format('svg')
  font-weight: normal
  font-style: normal




[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-plus-alt:before
  content: "\e600"

.icon-minus-alt:before
  content: "\e601"

.icon-x-altx-alt:before
  content: "\e602"

.icon-check-alt:before
  content: "\e603"

.icon-x:before
  content: "\e604"

.icon-cog:before
  content: "\e605"

.icon-wrench:before
  content: "\e606"

.icon-plus:before
  content: "\e607"

.icon-document-alt-stroke:before
  content: "\e608"

