@import "iconos.styl"
@import "fonts.styl"
body
	background url("../img/fondo2.png")
	font-family 'open_sansregular'
	font-size 16px 
h2 
	color white
	font-family 'open_sansregular'
	margin 20px auto 10px auto 
	text-align center
#informacion
	border-spacing 0
	color white
	margin auto 
	margin-bottom 10px 
	width 900px
	td:first-of-type
		max-width 300px
		min-width 300px
	td
		border 1px solid #53565d
		max-width 55px
		min-width 55px
		text-align center
#contenidoMaterias 
	border-spacing 0
	color white
	margin-top 10px 
	margin auto 	
	width 900px
	td
		border 1px solid #53565d
		max-width 55px 
		min-width 55px
	td:first-of-type
		background #cecece
		color black
		max-width 300px
		min-width 300px
	td:last-of-type
		border 0px solid blue
		max-width 55px
		min-width 55px
		text-align center
#contenido
	background #464b51
	border 1px solid #53565d
	border-radius 10px 
	margin auto 
	margin-top 20px 
	padding-bottom 20px 
	width 1000px 
#mas
	border-radius 10px 
	background #2daf4a
	color white
	font-weight bold
	margin-left 25px 
	margin-top 15px 
	padding 5px 
	text-align center 
	width 200px 
	span 
		vertical-align -10%
.realizado
	background green
.icon-x-altx-alt
	color #e74c3c
.sinLinea
	border 0 !important
.td50
	min-width 50px !important
	max-width 50px !important
.td100
	height 50px 
	font-size 14px 
	min-width 105px !important
	max-width 105px !important